/* 기본 레이아웃 설정 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #333;
    padding-top: 0;
    margin-bottom: 35px;
}

/* 버튼 스타일 */
button {
    display: block;
    margin: 10px auto;
    padding: 12px 24px;
    font-size: 21px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}